/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  .picture-frame {
    width: 80%;
    border: 5px solid purple;

    /*centers the frames*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .picture-frame img {
    width: 100%;
  }

  .picture-playground {
    border: 5px solid gold;
    display: flex;
    flex-direction: column;

    /*how to line up on cross-axis*/
    align-items: center;

    /*how to line up on main-axis*/
    justify-content: flex-start;

    /*wraps the images within the playground*/
    /* flex-wrap: wrap; */

    /* if you set the height, 
    thats how big the element will be.
    Then the pictures will overflow*/
    min-height: 300px;
  }

